.venv*/
.venv_rl*/
.env
.envrc
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.egg-info/
*.engine
*.plan
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.DS_Store
Thumbs.db
logs/
outputs/
wandb/
linux_env_dev/_urdf_cache/
linux_env_dev/models/logs_*/
linux_env_dev/models/*.log
rlDeploy2Orin/
.idea/
.vscode/
